.page {
    background-color: var(--color-carousel-bg);
    height: 100vh;
}

.header {
    background-color: var(--color-carousel-header);
    padding: 1.5em;
    border-bottom-right-radius: 2.5rem;
    color: var(--color-text);
    font-family: "Kodchasan";

}

.separator {
    height: 2.5rem;
    width: 100%;
    background-color: var(--color-carousel-header);
    -webkit-mask: image_url("border-top-left.svg") no-repeat;
    mask: image_url("border-top-left.svg") no-repeat;


}

.body {
    max-width: 100%;
}

.action {
    // width: 100%;
    margin: 1rem;
    padding: .8rem 2rem;
    background-color: var(--color-action);
    color: var(--color-landing-header);
    border-radius: 100px;
    font-size: .8rem;
} 