<%= stylesheet_link_tag "carousel"%>



<div class="carousel">
    <div class="page">
        <div class="header">
            <div class="header-text">
            Estás no <strong>Bairro Alto</strong>,
            <strong>Cais</strong> ou <strong>Santos</strong>?
            </div>
            <div class="selector">...
            </div>
            <div class="separetor-top">
            </div>
            <div class="separetor-bottom">
            </div>
        </div>
        <div class="body">
        </div>
    </div>
</div>

