<%= stylesheet_link_tag "carousel"%>



<div class="carousel">
    <div class="page">
        <div class="header">
            <div class="header-text">
            Estás no <strong>Bairro Alto</strong>,
            <strong>Cais</strong> ou <strong>Santos</strong>?
            </div>
            <div class="selector">...
            </div>
        </div>
        <div class="separator">
        </div>
        <div class="body">
            <div class="action">
                <span>Cadastrar</span>
                <span>-&gt;</span>
            </div>
        </div>
    </div>
</div>

