@import "~bootstrap/scss/bootstrap";

:root {
    --color-landing-bg: #3F70A0;
    --color-landing-header: #FFF;
    --color-landing-subtitle: rgba(255,255,255, 0.75);
    font-size: 16pt;
    --color-carousel-header: rgba(255,255,255, 0.8);
    --color-carousel-bg: rgba(228,178,183,1);
    --color-text: #6A515E;
    --color-action: #F5918B;
}